@media screen and (max-width: 1180px) {
  .mobile {
    display: block;
  }
  .header {
    display: none;
  }
}

@media screen and (min-width: 1180px) {
  .mobile {
    display: none;
  }
  .header {
    display: block;
  }
}

@media screen and (min-width: 250px) and (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer .fanpage {
    margin-top: 0px !important;
  }
}

@media screen and (min-width: 250px) and (max-width: 576px) {
  .menu-mobile {
    width: 250px !important;
  }
  .menu-mobile li:nth-child(1) i {
    top: 5px !important;
  }
  .menu-mobile li {
    width: 250px;
    height: 40px !important;
    line-height: 40px !important;
  }
  .menu-mobile li a {
    font-size: 13px;
    width: 250px !important;
  }
  .carousel-indicators {
    display: none !important;
  }
  .logo {
    width: 150px;
  }
  .line h3 {
    font-size: 20px;
  }
  .more a {
    font-size: 12px;
  }
}

.background-search {
  background: rgba(127, 140, 141, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.down {
  visibility: visible !important;
  opacity: 1 !important;
  top: 0px !important;
}

.search {
  background: #f39c12;
  position: absolute;
  left: 0px;
  top: -60px;
  z-index: 2;
  padding: 29px 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  margin: auto;
}

.search input {
  padding: 14px 30px;
  border: 3px solid #2ecc71;
  border-radius: 27px;
  position: absolute;
  outline: none;
  top: 0px;
  left: 39%;
  z-index: 3;
}

.search i {
  position: absolute;
  z-index: 4;
  top: 35%;
  left: 54%;
  cursor: pointer;
}

.carousel-control-next, .carousel-control-prev {
  background: #8080807d;
}

.mobile {
  background-color: #293341;
  padding: 15px 0px;
}

.mobile .logo-menu {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile .logo-menu .nav-mobile {
  cursor: pointer;
  color: #FFC312;
}

.mobile .background {
  background: #80808066;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.mobile .menu-mobile {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -300px;
  z-index: 3;
  margin-left: 0px;
  background: #F79F1F;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.mobile .menu-mobile ul {
  padding-left: 0px;
  width: 300px;
}

.mobile .menu-mobile ul li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile .menu-mobile ul li:nth-child(1) i {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  background: white;
}

.mobile .menu-mobile ul li {
  height: 50px;
  line-height: 50px;
  list-style-type: none;
}

.mobile .menu-mobile ul li a {
  display: block;
  width: 300px;
  padding-left: 15px;
  text-decoration: none;
  color: white;
}

.mobile .menu-mobile ul li a:hover {
  background: #9980FA;
}

.mobile .show {
  opacity: 1;
  left: 0px;
  visibility: visible;
}

.header {
  background-color: #293341;
  padding: 15px 0px;
}

.header .brand {
  text-align: center;
}

.header .menu {
  margin-top: 10px;
}

.header .menu a {
  color: white;
  font-size: 15px;
}

.header .menu a:hover {
  color: orange;
}

.banner {
  padding: 0px !important;
}

.line {
  border-bottom: 2px solid #293341;
}

.more {
  float: right;
}

.more a {
  text-decoration: none;
  color: orange;
  border-bottom: 1px solid orange;
}

.more a:hover {
  text-decoration: none;
  color: blue;
  border-bottom: 1px solid blue;
}

.products div {
  text-align: center;
}

.products .images {
  display: block;
  position: relative;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.products .images .img-1 {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.products .images .img-1:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.products .images .text {
  position: absolute;
  top: 45%;
  left: 30%;
  color: #d35400;
  text-shadow: 2px 2px 2px white;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.products .images .up {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer {
  background-color: #293341;
}

.footer .introduce p {
  color: white;
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.footer .infor {
  margin-top: 50px;
}

.footer .infor h5 {
  color: white;
  font-size: 16px;
}

.footer .infor p {
  color: white;
  font-size: 12px;
  margin-bottom: 5px;
}

.footer .fanpage {
  margin-top: 95px;
  margin-bottom: 50px;
}

.footer .fanpage h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}

.backtotop {
  width: 110px;
  background: #9980FA;
  padding: 10px 0px;
  text-align: center;
  border: 1px solid #9980FA;
  border-radius: 25px;
  position: fixed;
  cursor: pointer;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0.6;
}

.hotline {
  color: #f25500;
  font-weight: bold;
  border: 3px solid #f25500;
  width: 150px;
  position: fixed;
  bottom: 1px;
  left: 2px;
  z-index: 1;
  text-align: right;
  padding-right: 10px !important;
  padding: 13px 0px;
  border-radius: 25px;
  font-size: 13px;
  cursor: pointer;
}

.hotline img {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 55px;
}
/*# sourceMappingURL=style.css.map */